.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
    color: rgb(20, 3, 121)
}
h2 {
    color: rgb(33, 20, 220);
}

#fondoinicial{
    padding: 10%;
    background-color: rgb(88, 75, 75);
    /* box-shadow: 5px 5px 15px 5px rgb(124, 4, 74); */
    border-radius: 20px;

}
#logo{

    width: 250px;
    height: 250px;
    align-items: center
}

#textolog {

    color: blue;
    font-size: 30px;

}

#parrafoinicio{
    font-size: 20px;
}

#menunav{
 text-decoration:none;
}
#menupagina
{
    background-color: rgb(38, 0, 255);
    padding: 7px;
    box-shadow: 5px 5px 15px 5px black; 
    
}

#menupagina li
{
display: inline-block;
list-style: none;
padding: 10px;

}

#menupagina a
{
    text-decoration: none;
    color: blueviolet;
}